gensim==3.4.0
spacy==2.1.8
nltk==3.4.5
seaborn==0.9.0
plotly==4.3.0
numpy==1.16.4
Unidecode==1.1.1
setuptools==41.6.0
streamlit==0.51.0
wordcloud==1.5.0
matplotlib==3.1.0
pandas==0.25.3
Pillow==8.3.2
scikit_learn==0.22
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.1.0/pt_core_news_sm-2.1.0.tar.gz
git+https://github.com/LIAAD/yake